* {
    margin: 0px;
    padding: 0px;
    font-family: 'Anton', sans-serif;
}

body {

        background: url(../img/img.jpg);
        background-repeat: repeat;
        background-size: auto;
        background-repeat: no-repeat;
        background-size: cover;

}

.container {
    width: 550px;
    margin: 10% auto;
}

.login-section {
    background-color: #75869b;
    padding: 40px;
}

.login-section img{
    margin: 0 auto;
    display: block;
}

.login-section h3{
    text-align: center;
    color: #15463b;
    font-size: 35px;
    text-transform: capitalize;
    margin: 10px;
}

.form-control {
    width: 98%;
    height: 25px;
    padding: 5px;
    margin-bottom: 10px;
}

.btn {
    margin: 0 auto;
    display: block;
    background: #da4b4b;
    padding: 6px 15px;
    color: white;
    border: none;
    text-transform: uppercase;
    transition: 0.8s ease;
}
.btn:hover {
    box-shadow: 1px 3px 4px #fff;
    cursor: pointer;
}